.modaldelete.modal.fade(tabindex="-1", role="dialog", aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content
            h5.modal-header
                i.bi.bi-trash.tooltipped.ppknavicon 
                = 'Löschen'
                .modal-title
                    button.btn-close.btn-close(
                        type="button",
                        aria-label="Close",
                        data-bs-dismiss="modal"
                    )
            .modal-body.container
                .row
                    .col-6.text-center
                        p= 'Die Metadaten (Betreff, Partner, etc) werden unwiderruflich gelöscht und das PDF-Dokument in den "Neu" Ordner verschoben'
                    .col-6.text-center
                        p
                            = 'Die Metadaten (Betreff, Partner, etc) und '
                            span.text-danger= 'das Dokument'
                            = ' werden unwiderruflich gelöscht.'
                .row
                    .col-12.text-center.text-danger
                        p.pb-1= 'Keine weitere Sicherheitsabfrage!'
                .row
                    .col-6.text-center
                        a.btn.btn-warning(
                            href='/remove/' + data._id + '/soft/'
                        )= 'Zurücksetzen'
                    .col-6.text-center
                        a.btn.btn-danger(href='/remove/' + data._id + '/hard/')= 'Löschen'
            .modal-footer
                a.btn.btn-info(data-bs-dismiss="modal")= 'Abbrechen'
