extends layout

block content
    .row
        .col.s8
            div(id="pdf-main-container")
                .row
                    .col.s3.center
                        a#pdf-prev.waves-effect.waves-light.btn.blue.z-depth-5.tooltipped(
                            href="#",
                            style="padding: 0px; width: 100%",
                            data-position="bottom",
                            data-delay="50",
                            data-tooltip="Zur&uuml;ck"
                        )
                            i#pdfprevicon.material-icons.white-text arrow_back
                    .col.s3.center.fs3.blue-text
                        div <span id="pdf-current-page">0</span>&nbsp;/&nbsp;<span id="pdf-num-pages">0</span>
                    .col.s3.center
                        a#pdf-next.waves-effect.waves-light.btn.blue.z-depth-5.tooltipped(
                            href="#",
                            style="padding: 0px; width: 100%",
                            data-position="bottom",
                            data-delay="50",
                            data-tooltip="Weiter"
                        )
                            i#pdfnexticon.material-icons.white-text arrow_forward
                canvas(id="pdf-canvas")

        .col.s4
            input#hidden_tags(type="hidden" name="tags")
            .row
                .col.s6.xl2.center
                    p
                        a#save.waves-effect.waves-light.btn.blue.z-depth-5.tooltipped(
                            href="#",
                            style="padding: 0px; width: 100%",
                            data-position="bottom",
                            data-delay="50",
                            data-tooltip="Speichern"
                        )
                            i#saveicon.material-icons.white-text save
                .col.s6.xl2.center
                    p
                        a.waves-effect.waves-light.btn.blue.z-depth-5.tooltipped(
                            href=conf.proxy.download + data._id,
                            target="_blank",
                            style="padding: 0px; width: 100%",
                            data-position="bottom",
                            data-delay="50",
                            data-tooltip="Download"
                        )
                            i.material-icons file_download
                .col.s6.xl2.center
                    p
                        a#ocr1.waves-effect.waves-light.btn.blue.z-depth-5.tooltipped(
                            href="#!",
                            style="padding: 0px; width: 100%",
                            data-position="bottom",
                            data-delay="50",
                            data-tooltip="Texterkennung"
                        )
                            i.material-icons photo
                .col.s6.xl2.center
                    p
                        a.waves-effect.waves-light.btn.blue.z-depth-5.tooltipped(
                            href="/doc/",
                            style="padding: 0px; width: 100%",
                            data-position="bottom",
                            data-delay="50",
                            data-tooltip="Zurück"
                        )
                            i.material-icons arrow_back
                .col.s6.xl2.center
                    //a#ocrx.waves-effect.waves-light.btn.blue.z-depth-5(href='#!') OCR
                        i.material-icons.left photo_library
                .col.s6.xl2.center
                    p
                        a.waves-effect.waves-light.btn.modal-trigger.red.z-depth-5.tooltipped(
                            href="#modaldelete",
                            style="padding: 0px; width: 100%",
                            data-position="bottom",
                            data-delay="50",
                            data-tooltip="Löschen"
                        )
                            i.material-icons delete_forever
            .row
                .col.s12.xl12.center
                    .progress
                        #ocr.determinate
            .form-group
                label(for="subject") Betreff:
                div.input-field
                    input#subject.form-control.autocomplete(
                        type="text",
                        placeholder="Betreff",
                        name="subject",
                        value=data.subject
                    )
            .form-group
                label(for="docdate") Datum:
                input#docdate.docdate(type="text")              
            .form-group
                label(for="users") Besitzer:
                br
                each user in session.userlist
                    //label(for='user_' + user.name)= user.name
                    label(for='user_' + user.name)
                        if (data.users.indexOf(user.name) > -1)
                            input.jqusers(
                                type="checkbox",
                                id='user_' + user.name,
                                name="users",
                                value=user.name,
                                checked="checked"
                            )
                        else
                            input.jqusers(
                                type="checkbox",
                                id='user_' + user.name,
                                name="users",
                                value=user.name
                            )
                        span= user.name
                    br
                    br
            .form-group
                - var partnerval = '';
                if (data.partner)
                    - partnerval = data.partner;
                label(for="partner") Partner:
                if (data.foundpartner)
                    div.input-field
                        input#partner.autocomplete.red-text(
                            name="partner",
                            value=partnerval,
                            type="text"
                        )
                else
                    div.input-field
                        input#partner.autocomplete(
                            name="partner",
                            value=partnerval,
                            type="text"
                        )

            .row &nbsp;
            .row
                .col.s11
                    #taginputparent.chips-autocomplete
                .right-align.col.s1
                    i#tagstooltip.tooltipped.material-icons(
                        style="cursor: help",
                        data-position="left",
                        data-delay="50",
                        data-tooltip="Lade...",
                        data-html="true"
                    ) help_outline
            textarea.doctext= data.plaintext
    #modaldelete.modal
        include doc.modaldelete.pug
    script(src=conf.proxy.public + 'js/unveil.js')
    script(src=conf.proxy.public + 'js/t/tesseract.js')
    script(src=conf.proxy.public + 'js/pdf/pdf.min.js')
    script(src=conf.proxy.public + 'js/pdf/pdf.worker.min.js')
    script(src=conf.proxy.public + 'js/views/doc.ocr.js')
    script(src=conf.proxy.public + 'js/views/doc.pdf.js')
    script(src=conf.proxy.public + 'js/views/doc.js')
