extends layout_bootstrap

block content
    input#hidden_tags(type="hidden" name="tags")
    .container-fluid
        .row
            .col-sm-9
                - var n = 0;
                while n < data.previews
                    .row
                        #pageheadercolblue.white-text.col-sm-4.col-8
                            h5
                                a.white-text.anchor(name='page' + (n + 1))= 'Seite ' + (n + 1)
                        #editcol.col.col-sm-8.col-4
                            .text-end
                                include doc.editcol_bootstrap.pug
                    .row
                        .col
                            .preparent(id='image_' + n + '_container')
                                img.mw-100.ppkprevimage(
                                    id='image_' + n,
                                    src=conf.proxy.preview + data._id + '.' + n + '.thumb.png',
                                    data-src=conf.proxy.preview + data._id + '.' + n + '.png'
                                )
                            //img.img-responsive.preview(id='image_' + n src=conf.proxy.preview + data._id + '.' + n + '.thumb.png' data-src=conf.proxy.preview + data._id + '.' + n + '.png')
                    - n++;
            .col-sm-3
                .row
                    .col.center
                        a#save.btn.btn-link(
                            href="#",
                            style="padding: 0px; width: 100%"
                        )
                            i#saveicon.bi.bi-save.tooltipped.ppknavicon(
                                data-bs-toggle="tooltip",
                                data-bs-placement="bottom",
                                title="Speichern"
                            )
                    .col.center
                        a.btn.btn-link(
                            href=conf.proxy.download + data._id,
                            target="_blank",
                            style="padding: 0px; width: 100%"
                        )
                            i.bi.bi-download.tooltipped.ppknavicon(
                                data-bs-toggle="tooltip",
                                data-bs-placement="bottom",
                                title="Download"
                            )
                    .col.center
                        a#ocr1.btn.btn-link(
                            href="#!",
                            style="padding: 0px; width: 100%"
                        )
                            i.bi.bi-file-earmark-richtext.tooltipped.ppknavicon(
                                data-bs-toggle="tooltip",
                                data-bs-placement="bottom",
                                title="Texterkennung"
                            )
                    .col.center
                        a.btn.btn-link(
                            href="/doc/",
                            style="padding: 0px; width: 100%"
                        )
                            i.bi.bi-arrow-left.tooltipped.ppknavicon(
                                data-bs-toggle="tooltip",
                                data-bs-placement="bottom",
                                title="Zurück"
                            )
                    .col.center &nbsp;
                    .col.center
                        button.btn.btn-link(
                            type="button",
                            data-bs-toggle="modal",
                            data-bs-target=".modaldelete",
                            style="padding: 0px; width: 100%"
                        )
                            i.bi.bi-trash.tooltipped.ppknavicon(
                                data-bs-toggle="tooltip",
                                data-bs-placement="bottom",
                                title="Löschen"
                            )
                .row
                    .col.center
                        .progress.my-2
                            #ocr.progress-bar.progress-bar-striped(
                                role="progressbar",
                                aria-valuenow="0",
                                aria-valuemin="0",
                                aria-valuemax="100",
                                style="width: 0%"
                            )
                            #ocr.determinate
                .form-group
                    label(for="subjectselect") Betreff:
                    input#subjectselect(type="text" autocomplete="off")
                .form-group
                    label(for="docdate") Datum:
                    if (data.founddate)
                        input#docdate.form-control.datepicker.red-text.datedoc(
                            type="text",
                            placeholder="Datum",
                            name="docdate",
                            value=moment.utc(data.docdate).format('DD.MM.YYYY')
                        )
                    else if (data.docdate)
                        input#docdate.form-control.datepicker.datedoc(
                            type="text",
                            placeholder="Datum",
                            name="docdate",
                            value=moment.utc(data.docdate).format('DD.MM.YYYY')
                        )
                    else
                        input#docdate.form-control.datepicker.datedoc(
                            type="text",
                            placeholder="Datum",
                            name="docdate",
                            value=""
                        )
                .form-group
                    label(for="users") Besitzer:
                    br
                    each user in session.userlist
                        if (data.users.indexOf(user.name) > -1)
                            input.jqusers(
                                type="checkbox",
                                id='user_' + user.name,
                                name="users",
                                value=user.name,
                                checked="checked"
                            )
                        else
                            input.jqusers(
                                type="checkbox",
                                id='user_' + user.name,
                                name="users",
                                value=user.name
                            )
                        label(for='user_' + user.name)= user.name
                        br
                        br
                .form-group
                    label(for="partnerselect") Partner:
                    select#partnerselect.w-100(autocomplete="off")
                .form-group
                    label(for="tagselect") Tags:
                    select#tagselect(multiple="multiple")
                .form-group
                    textarea.doctext.form-control(rows="10")= data.plaintext
    include doc.modaldelete_bootstrap.pug
    include doc.toasts_bootstrap.pug

    script(src=conf.proxy.public + 'js/t/tesseract.js')
    script(src=conf.proxy.public + 'js/autocomplete_bootstrap.js')
    script(src=conf.proxy.public + 'js/views/doc.ocr_bootstrap.js')
    script#docjs(src=conf.proxy.public + 'js/views/doc_bootstrap.js' data-public=conf.proxy.public)
